<div class="top-headings">
  <div class="row m-0">
    <div class="col-md-6 text-center">
      <div class="company-title">
        CAREER
      </div>
      <div class="company-dialog">
        < Join a digital services leader />
      </div>
    </div>

  </div>
</div>
<div class="container">
  <div class="row">
    <div class="job">
      <div class="job-title">
        মাঠ কর্মী
      </div>

      <div class="job-description">
        <span>খালি পদঃ</span> 50
      </div>

      <div class="job-description">
        <span>জব কনটেক্সটঃ</span>
        <br> ( শুধুমাত্র ঢাকার মধ্যে ) জুলাইয়ের ১ তারিখ থেকে কিছুসংখ্যক মাঠকর্মী নেয়া হবে। তাদের কাজ হবে মূলত তথ্য সংগ্রহ করা।
        <br> প্রত্যেকের সুবিধামত এলাকায় কাজ দেয়ার চেষ্টা করা হবে। তথ্য সংগ্রহ শেষ আমাদের অফিসে এসে সার্ভারে ডাটা ইনপুট দিতে হবে।
        অথবা আপনি যদি এ ব্যাপারে পারদর্শী হন তাহলে বাসায় বসেও এ কাজটা করতে পারেন।
      </div>

      <div class="job-description">
        <span>অফিসের লোকেশনঃ</span> বাসাবো
      </div>

      <div class="job-description">
        <span>শিক্ষাগত যোগ্যতাঃ</span> নূন্যতম এস এস সি পাশ
      </div>

      <div class="job-description">
        <span>চাকরির প্রয়োজনীয় বিষয়সমূহঃ</span>
        <br>
        <i class="fa fa-hand-o-right"></i> শুদ্ধ বাংলায় কথা বলতে জানতে হবে।
        <br>
        <i class="fa fa-hand-o-right"></i> মানুষকে বোঝানোর ক্ষমতা থাকলে বিশাল প্লাস পয়েন্ট।
        <br>
        <i class="fa fa-hand-o-right"></i> প্রথম তিন মাস প্রবেশনাল পিরিয়ড। এ সময় পারফর্ম্যান্স ভালো দেখতে পারলে স্থায়ীভাবে নিয়োগ দেয়া হবে।
        <br>
        <i class="fa fa-hand-o-right"></i> তথ্য সংগ্রহে/সার্ভিসে টার্গেটের বেশি সফলতা অর্জন করতে পারলে তার উপরে বোনাস।সেই সাথে কোম্পানির হয়ে যে সার্ভিস
        দিবেন কাস্টমার কে তার এটা পার্সেন্ট আপনার বেতনে যুক্ত হবে।
        <br>
        <i class="fa fa-hand-o-right"></i> উবার/পাঠাও টাইপের অ্যাপ ইউজ করার অভিজ্ঞটা থাকলে ভালো।
        <br>
      </div>

      <div class="job-description">
        <span>নিয়োগের তারিখঃ</span> ১ জুলাই, ২০১৮
      </div>

      <div class="job-description">
        <span>বেতনঃ</span> ৭০০০টাকা + টিএডিএ + বোনাস + অন্যান্য
      </div>

      <div class="job-description">
        <span>আগ্রহী হলে ফোন করুন ০১৭১০-২২৬১৬৩</span>
        <br>
        <span>অথবা ইমেইল করুনঃ sayemkcn@gmail.com </span>
      </div>


    </div>
  </div>
</div>

<footer class="footer pt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>Navigation</h3>
        <ul class="list-unstyled">
          <li>
            <a href="#aboutUs">About</a>
          </li>
          <li>
            <a href="#">Blog</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>

      </div>
      <div class="col-md-3">
        <h3>For Members</h3>
        <ul class="list-unstyled">
          <li>
            <a href="#">Forums</a>
          </li>
          <li>
            <a href="#">Promotions</a>
          </li>
          <li>
            <a href="login.html">Sign In</a>
          </li>
          <li>
            <a href="#">News</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Follow Us</h3>
        <ul class="list-unstyled">
          <li>
            <a href="#">
              <i class="facebk"> </i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="twter"> </i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="goopl"> </i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="insta"> </i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-3">
        <h3>Our Location &amp; Contacts</h3>
        <ul class="list-unstyled">
          <li>
            <i class="add"> </i>Bhuighar, Fatullah</li>
          <li>
            <i class="phone"> </i>+880 1912 239643</li>
          <li>
            <a href="mailto:nazmuldipu@gmail.com">
              <i class="mail"> </i>nazmuldipu@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>