<div class="top-headings">
    <div class="row m-0">
        <div class="col-md-6 text-center">
            <div class="company-title">
                MON INFOTECH
            </div>
            <div class="company-dialog">
                < Placing Life into Machine />
            </div>
        </div>

    </div>
</div>

<div class="row m-0">
    <div class="container">
        <div class="section-title text-primary-color mb-1">
            <span>PROJECTS</span>
        </div>
        <div class="row mt-4 text-center">
            <div class="col-md-4 service-left">
                <a href="https://school.moninfotech.com" target="_blank">

                    <img src="./images/scms.png" class="img-responsive" alt="" style="height: 180px;">
                    <h4>
                        <b>School Managemnet System (SLMS)</b>
                    </h4>
                    <p class="text-justify">Everything your institution will ever need. Increasingly Educational Institutions are facing challenges
                        in proper organised communications to all stakeholders- Students, Parents, Teachers, Staff, Donors
                        and Management. With multiple channels of communications like emails, SMS, portal, Video and telephone,
                        maintaining and tracking unified communications is extremely important to create a thriving ecosystem
                        of the engaged community.</p>
                </a>
            </div>
            <div class="col-md-4 service-left">
                <a href="https://www.hotelswave.com/" target="_blank">
                    <img src="./images/hrs.png" class="img-responsive" alt="" style="height: 180px;">
                    <h4>
                        <b>Hotel Reservation System (HRS)</b>
                    </h4>
                    <p class="text-justify">we understand how important direct online bookings are to you and your business. Comprehending that,
                        we use leading-edge technology to provide you with an ingenious and powerful online booking engine
                        that gets you infinite bookings for zero commission. Keeping the modern traveller in mind, the mobile
                        friendly booking engine can be accessed anytime anywhere and it serves as an advanced sales booster
                        helping you maximize revenue.</p>
                </a>
            </div>
            <div class="col-md-4 service-left">
                <a href="http://sms.moninfotech.com/home/index/" target="_blank">
                    <img src="./images/sms.png" class="img-responsive" alt="" style="height: 180px;">
                    <h4>
                        <b>Academy Uses SMS Gateway (MSMS)</b>
                    </h4>
                    <p class="text-justify">SMS services have become much more widely used within schools recently as a highly effective means of
                        communication with parents and carers.
                        <br/> Our web-based SMS service, enables schools/ college/ coaching-centers to maintain an address book
                        of parents securely online, and then select a list of recipients to send a simple SMS message to,
                        confirming a pupil’s absence.
                    </p>
                </a>
            </div>
            <div class="col-md-4 service-left">
                <a href="http://www.itoursltd.com/" target="_blank">
                    <img src="./images/tours.png" class="img-responsive" alt="" style="height: 180px;">
                    <h4>
                        <b>Travels and Tourism dynamic web service</b>
                    </h4>
                    <p class="text-justify">Tourism is a major revenue making domain globally. Tourism is a kind of travel to obtain leisure-time,
                        spiritual-trip, and family or job purposes, typically for a little span of duration. Here the biggest
                        problem is lacking in obtaining the available tourism domain resources (Places to visit, Hotel, Pilgrims,
                        and Airways etc). Webservices is playing a vital role in the software industry. Web services are
                        the collections of software components and standards for the next generation technologies.</p>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- Our Expertise  -->
<div class="row m-0">
    <div class="container mt-4">
        <div class="section-title text-primary-color mb-1">
            <span>OUR EXPERTISE</span>
        </div>
        <div class="row my-4">
            <img class="col-md-3 border" src="./images/java.png" alt="" style="height:80px; width: 100%;">
            <img class="col-md-3 border" src="./images/spring-boot.png" alt="" style="height:80px; width: 100%;">
            <img class="col-md-3 border" src="./images/hibernate.png" alt="" style="height:80px; width: 100%;">
            <img class="col-md-3 border" src="./images/mysql-logo.png" alt="" style="height:80px; width: 100%;">
            <img class="col-md-3 border" src="./images/angular.png" alt="" style="height:80px; width: 100%;">
            <img class="col-md-3 border" src="./images/android.png" alt="" style="height:80px; width: 100%;">
            <img class="col-md-3 border" src="./images/embedded-system.png" alt="" style="height:80px; width: 100%;">
            <img class="col-md-3 border" src="./images/plc-logo.png" alt="" style="height:80px; width: 100%;">
        </div>
    </div>
</div>

<!-- Our Clients -->
<div class="row m-0">
    <div class="container mt-4">
        <div class="section-title text-primary-color mb-1">
            <span>OUR CLIENTS</span>
        </div>
        <div class="row my-4 text-center">
            <img class="col-md-4 border" src="./images/hotelsWeve.png" alt="" style="height:80px; width: 100%;">
            <img class="col-md-4 border" src="./images/itours.png" alt="" style="height:80px; width: 100%;">
            <img class="col-md-4 border" src="./images/jananiTech.png" alt="" style="height:80px; width: 100%;">
        </div>
    </div>
</div>

<!-- Our Location on map -->
<div class="row m-0">
    <div class="container mt-4">
        <div class="section-title text-primary-color mb-1">
            <span>OUR LOCATION ON MAP</span>
        </div>
        <div class="row mt-4 text-center">
            <h4 class="col-md-4">
                <b>7.1KM from Jatrabari</b>
            </h4>
            <h5 class="col-md-4">
                <b>6.4KM from Chashara, Narayanganj</b>
            </h5>
            <h5 class="col-md-4">
                <b>0.06KM from Bhuigor Bus-Stand</b>
            </h5>
        </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12679.187445407377!2d90.47186807007036!3d23.683780665938368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755b72f392f76b9%3A0x85674d3e5e2faf2e!2sMonInfoTech!5e0!3m2!1sbn!2sbd!4v1508027503358"
        width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
</div>

<footer class="footer pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Navigation</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="#aboutUs">About</a>
                    </li>
                    <li>
                        <a href="#">Blog</a>
                    </li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>

            </div>
            <div class="col-md-3">
                <h3>For Members</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">Forums</a>
                    </li>
                    <li>
                        <a href="#">Promotions</a>
                    </li>
                    <li>
                        <a href="login.html">Sign In</a>
                    </li>
                    <li>
                        <a href="#">News</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Follow Us</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="#">
                            <i class="facebk"> </i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="twter"> </i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="goopl"> </i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="insta"> </i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h3>Our Location &amp; Contacts</h3>
                <ul class="list-unstyled">
                    <li>
                        <i class="add"> </i>Bhuighar, Fatullah</li>
                    <li>
                        <i class="phone"> </i>+880 1912 239643</li>
                    <li>
                        <a href="mailto:nazmuldipu@gmail.com">
                            <i class="mail"> </i>nazmuldipu@gmail.com</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>